In [8]:
import pandas  as pd

## Reading Data

In [10]:
df = pd.read_csv('data.csv.csv')

In [11]:
df.head()

       fever   bodyPain  age  runnyNose  diffBreath  infectionProb
0  101.829279         0   64          0           0              1
1  101.032882         1   16          1          -1              0
2   99.591247         0    4          0           1              1
3   98.126436         0   14          1          -1              0
4   99.101808         0   72          1           0              0

In [12]:
df.tail()

          fever   bodyPain  age  runnyNose  diffBreath  infectionProb
2591  100.846008         1   71          0          -1              1
2592  101.298883         0   23          1           0              1
2593  100.627390         1   17          1           1              1
2594   99.115364         0   33          1           0              1
2595  101.728053         0   44          0           0              1

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2596 entries, 0 to 2595
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          2596 non-null   float64
 1   bodyPain       2596 non-null   int64
 2   age            2596 non-null   int64
 3   runnyNose      2596 non-null   int64
 4   diffBreath     2596 non-null   int64
 5   infectionProb  2596 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 121.8 KB

In [14]:
df['fever'].value_counts()

KeyError: 'fever'

In [16]:
df['fever'].value_counts

<bound method IndexOpsMixin.value_counts of 0       101.829279
1       101.032882
2        99.591247
3        98.126436
4        99.101808
           ...
2591    100.846008
2592    101.298883
2593    100.627390
2594     99.115364
2595    101.728053
Name: fever, Length: 2596, dtype: float64>

In [17]:
df['diffBreath'].value_counts

<bound method IndexOpsMixin.value_counts of 0       0
1      -1
2       1
3      -1
4       0
       ..
2591   -1
2592    0
2593    1
2594    0
2595    0
Name: diffBreath, Length: 2596, dtype: int64>

In [18]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb
count,2596.000000,2596.000000,2596.000000,2596.000000,2596.000000,2596.000000
mean,100.015195,0.511556,51.116718,0.504237,-0.018105,0.481125
std,1.152098,0.499963,28.918193,0.500078,0.810849,0.499740
min,98.001186,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,99.050284,0.000000,26.000000,0.000000,-1.000000,0.000000
50%,100.014281,1.000000,51.000000,1.000000,0.000000,0.000000
75%,101.005951,1.000000,76.000000,1.000000,1.000000,1.000000
max,101.999993,1.000000,100.000000,1.000000,1.000000,1.000000

## Train Test Splitting

In [19]:
import numpy as np

In [20]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data)*ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [21]:
np.random.permutation(7)

array([1, 2, 6, 4, 3, 5, 0])

In [22]:
train, test = data_split(df, 0.2)

In [23]:
train

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
845    98.031984         1   28          1           0              0
2030   99.673610         0   22          1           1              0
790   100.407442         0   59          0           0              1
1947   98.503457         0   96          0           0              1
25     99.862398         1   19          1          -1              1
...          ...       ...  ...        ...         ...            ...
1638   99.406794         1   84          1          -1              1
1095   98.087959         0    4          0          -1              0
1130   98.950667         0   53          0           0              0
1294   98.772643         0   93          1           1              1
860   101.224424         1   23          0           1              0

[2077 rows x 6 columns]

In [24]:
test

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
211    99.108900         0   44          0          -1              0
2122  100.492697         0    2          1           1              0
1739   98.056233         0   31          1          -1              0
2421   98.366612         0   81          1          -1              0
1670   99.908468         0   94          0          -1              0
...          ...       ...  ...        ...         ...            ...
944   100.090415         0   10          1           0              0
49    101.523254         1   79          0           0              0
700   100.571951         1   32          1           0              0
1113  101.665117         0   57          0          -1              1
48    100.983500         0   49          0           0              1

[519 rows x 6 columns]

In [25]:
X_train = train[['fever', 'bodyPain', 'age', 'runnyNose', 'diffBreath']].to_numpy()
X_test = test[['fever', 'bodyPain', 'age', 'runnyNose', 'diffBreath']].to_numpy()

In [26]:
Y_train = train[['infectionProb']].to_numpy().reshape(2077,)
Y_test = test[['infectionProb']].to_numpy().reshape(519,)

In [27]:
Y_train

array([0, 0, 1, ..., 0, 1, 0], dtype=int64)

In [28]:
from sklearn.linear_model import LogisticRegression

In [29]:
clf = LogisticRegression()
clf.fit(X_train, Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [32]:
inputFeatures = [102, 1, 22, -1, 1]
infprob = clf.predict_proba([inputFeatures])[0][1]

In [33]:
infprob

0.45278451115931945